.skills {
  padding: 6rem 2rem;
  /* margin: 2px; */
  background-color: #a4a5d8;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #282c34;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.skillName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #282c34;
}
